.bg {
    background-image: url(geisel.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
   background-color: rgba(200, 200, 200, 0.9);
}

body, html {
    height: 100%;
    margin: 0;
    background-color: gray;
}
